{% extends "base.html" %}
{% from "_render_elements.html" import render_field %}
{% block title %}
Update Password
{% endblock %}
{% block content %}
<div class="container m-4">
    <h1 class="mb-4 text-primary fw-bold text-decoration-underline text-center">Update Password</h1>
    <form method="post" action="{{ url_for('updatePassword', userid=userid) }}" class="p-4 border rounded bg-light">
        {{ form.csrf_token }}
        {{ render_field(form.newpassword, class="form-control mb-3") }}
        {{ render_field(form.confirmpassword, class="form-control mb-3") }}
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}